 * {
     margin: 0;
     padding: 0;
     box-sizing: border-box;
     font-family: 'Poppins', sans-serif;
     transition: all 0.3s ease;

 }

 html,
 body {
     height: 100vh;
     overflow-x: hidden;
     scroll-padding-top: 8em;
     scroll-behavior: smooth;
     -ms-overflow-style: none;
     scrollbar-width: none;
 }

 .col-about {
     border: 1px solid rgb(236, 134, 151);
 }

 .card {
     background-color: rgba(47, 47, 47, 0.1);
 }

 .about-text {
     text-align: justify;
 }

 .home-text1,
 .about-text1 {
     color: rgb(247, 82, 110);
 }
 .index-search-button{
    text-decoration: none;
    color: orange;
    border: 2px solid orange;
 }
 .index-search-button:hover{
    background-color: orange;
    color: white;
 }

 .home {
     background-image: url('images/food-bg3.jpg');
     background-repeat: no-repeat;
     background-size: cover;
     background-position: center;
 }

 .blur-bg {
     position: absolute;
     inset: 0;
     backdrop-filter: blur(5px);
     background-color: rgba(207, 207, 207, 0.15);
     z-index: 1;
 }

 .nav-link {
     color: #2c3e50;
     font-weight: 700;
 }
  .nav-link:hover {
     color: #78a8d7;
     font-weight: 600;
 }
  .nav-link1 {
     color: #ffffff;
     font-weight: 100;
     text-decoration: none;
 }
  .nav-link1:hover {
     color: #9978d7;
     font-weight: 800;
 }


 .rick-font {
     font-family: 'Luckiest Guy', cursive;
 }

 .home-container {
     margin-top: 8em;
 }

 .meal_home {
     animation: spin 20s linear infinite;
     transform-origin: center center;
     display: inline-block;
 }

 #foodCategory {
     display: flex;
     justify-content: center;
     flex-wrap: nowrap;
 }

 .scroll-container {
     overflow: hidden;
     width: 100%;
     background-color: #f8f8f8;
     padding: 1rem 0;
 }

 .scroll-content {
     display: flex;
     gap: 1rem;
     animation: scrollRight 20s linear infinite;
 }

 .foodImg {
     width: 150px;
     height: 400px;
     object-fit: cover;
     filter: grayscale(100%);
     transition: transform 0.3s, filter 0.3s;
     cursor: pointer;
 }

 .foodImg:hover {
     filter: none;
     transform: scale(1.1);
 }

 @keyframes spin {
     from {
         transform: rotate(0deg);
     }

     to {
         transform: rotate(360deg);
     }
 }

 @keyframes scrollRight {
     0% {
         transform: translateX(0);
     }

     100% {
         transform: translateX(-50%);
     }
 }

 @media (max-width: 992px) {
     .home-text {
         text-align: center !important;
     }
 }